div {
    background-color: red;
    color: white;
    font-size: 40px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 80vh 5vh 5vh;
    border: none;
    background-color: white;  
}

.a {
    background-color: blueviolet;
}
.b {
   grid-column: 2 / span 2;
   background-color: yellow;
}

.c {
    background-color: blue;
}

.d {
   grid-column: 1 / span 2;
   background-color: green;
}

.e {
   grid-column: 3 /span 2;
   background-color: darkgoldenrod;
}

.f {
   grid-column: 1 / span 2;
   grid-row: 3 / span 2;
   background-color: darkred;
}

.g {
    background-color: aqua;
}

.h {
  grid-column:3;
  grid-row: 4;
  background-color: darkkhaki;
}

.i {
  grid-row: 3 / span 2;
  background-color: firebrick;
}


