

.grade {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vh 60vh 40vh;
    background-color: aqua;
}

.area_form {
    grid-column: 2 / span 3;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 10px;
    overflow: hidden;
}

.area_lista {
    padding-top: 20px;
    grid-column: 2 / span 3;
}

.cabecalho {
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.titulo {
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: green;
}

.resposta {
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: rgba(249, 233, 3, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.caixa_texto {
    background-color: rgb(100,250,250);
    border-color: rgb(100,250,250);
}

.linha_par {
  background-color: white;
}

.linha_impar{
  background-color: lightgrey;
}