.cabecalho {
    height: 15vh;
}

.corpo {
    height: 70vh;
}

.rodape {
    height: 15vh;
}

.gh {
    height: 50%;
}

.circulo {
    border: 1px solid black;
    border-radius: 100%;
    height: 30%;
}